
{% load static %}
    <link href="{% static "/css/login.css" %}" rel="stylesheet">

<div class="container">
    <h2 class="form-label">Send email №{{sended_message.id}} view</h2>
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
            <strong>Email name</strong>:
                <a href="{% url 'view-email' sended_message.id %}">{{sended_message.user_message_name}}</a> 
            <br>
            <strong>Email description</strong>: {{sended_message.user_message_description}}
            <br>
            <strong>Email tags</strong>: 
            {% for tag in  sended_message.get_all_tags %}

                <a href="{% url 'send-email-result' tag %}" class="badge badge-pill badge-info">#{{ tag }}</a>

            {% endfor %}
            
            <br>
            <strong>Target email</strong>: {{sended_message.user_message_target_email}}
            <br>
            <strong>Email title</strong>: {{sended_message.user_message_email_title}}
            <br>
            <strong>Email text</strong>: {{sended_message.user_message_text}}

            <hr>
            <strong>Send datetime</strong>: {{sended_message.user_message_sent_datetime}}
            <br>
            <strong>Send success</strong>: {{sended_message.user_message_sent_status}}
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
