
{% load static %}
    <link href="{% static "/css/view_campaign.css" %}" rel="stylesheet">

<div class="container">
    <h2 class="form-label">Campaign №{{sended_message.id}} view</h2>
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
        <form action="" method="POST" class="form-signin">
            {% csrf_token %}
            <strong>Email name</strong>:
               {{message_form.campaign_name}}
            <br>
            <strong>Email description</strong>: {{message_form.campaign_description}}
            <br>
             <strong>Email tags</strong>:
            {{ message_form.campaign_tags }}
            <hr>
            <strong>Target email</strong>: {{message_form.campaign_target_email}}
            <br>
            <strong>Email title</strong>: {{message_form.campaign_email_title}}
            <br>
            <strong>Email text</strong>: {{message_form.campaign_text}}

            <hr>
            <strong>Send datetime</strong>: {{sended_message.campaign_sent_datetime}}
            <br>
            <strong>Send success</strong>: {{sended_message.campaign_sent_status}}
            <br>
            <div class="form-right" id="form-left">
                <input type="submit" class="form-right btn btn-light" name="save" value="Save">
            </div>
            <div class="form-left" id="form-right">
                <input type="submit" class="form-left btn btn-light" name="send" value="Send">
            </div>
            <br>
        </form>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
