<div class="container">
    <h2 class="form-label">Change password</h2>
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ change_password_form.old_password }}
            </div>
            <div class="form-group">
                {{ change_password_form.new_password }}
            </div>
            <div class="form-group" id="button-submit">
                <button type="submit" class="btn btn-light"> Change</button>
            </div>
        </form>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
