
{% load static %}
    <link href="{% static "/css/password_reset.css" %}" rel="stylesheet">
    <div class="container">
    {% if not user.is_authenticated %}
    <h2 class="form-label">Password reset</h2>
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ reset_password_form.email }}
            </div>
            <div class="form-group" id="button-submit">
                <button type="submit" class="btn btn-light">Reset password</button>
            </div>
        </form>
        <div class="col-md">
            <form id="form-right" action="{% url 'login' %}">
                <input type="submit" class="btn btn-light" value="Log in" />
            </form>
            <form id="form-left" action="{% url 'registration' %}">
                <input type="submit" class="btn btn-light" value="Registration" />
            </form>
        </div>
    </div>
    <div class="col-md">
    </div>
  </div>
    {% else %}
    <h2 class="form-label">Log out firstly</h2>
    {% endif %}
</div>
