
{% load static %}
    <link href="{% static "/css/login.css" %}" rel="stylesheet">

<div class="container">
    <h2 class="form-label">Send email</h2>
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
        <form action="" method="POST" class="form-signin">
            {% csrf_token %}
            <div class="form-group">
                {{ send_form.user_message_name }}
            </div>
            <div class="form-group">
                {{ send_form.user_message_description }}
            </div>
            <div class="form-group">
                {{ send_form.user_message_tags }}
            </div>
            <hr>
            <div class="form-group">
                {{ send_form.user_message_target_email }}
            </div>
            <div class="form-group">
                {{ send_form.user_message_email_title }}
            </div>
            <div class="form-group">
                {{ send_form.user_message_text }}
            </div>
            <div class="form-group" id="button-submit">
                <button type="submit" class="btn btn-light">Send</button>
            </div>
        </form>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
